@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Importante para layout tipo App/Discord */
  background-color: #111827; /* bg-gray-900 */
}

#root {
  height: 100%;
  width: 100%;
}

/* Custom Scrollbar para ficar bonito igual Discord */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2b2d31;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a1b1e;
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
